<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="./css/nosotros.css">
        <link rel="icon" type="image/png" sizes="16x16" href="./logo/Logo_FINAL.png"/>
        <title>Nosotros</title>

    </head>
    <body>
        <!-- Contenido del sitio web -->

        <!--ENCABEZADO-->

        <nav class="nav.navbar.bg-body-tertiary" style="background-color:  #f1ffcf ;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="display: inline-block;">
                    <img src="./logo/Logo_FINAL.png" alt="Logo" width="100" height="100" style="vertical-align: middle;">
                    <p class="chacras" style="color: #E57C3A; text-align: center; margin-left: 10px; display: inline-block; vertical-align: middle;">Chacras Services</p>
                </a>
            </div>
        </nav>

        <!--------NAVBAR 2------>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/conocenos">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Servicios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" title="Reparación y mantenimiento de sistemas de fontanería." href="#">Servicio de Fontanería</a></li>
                                <li><a class="dropdown-item" title="Instalación y reparación de sistemas eléctricos." href="#">Servicio de Electricidad</a></li>
                                <li><a class="dropdown-item" title="Mantenimiento de jardines y áreas verdes." href="#">Servicio de Jardinería</a></li>
                                <li><a class="dropdown-item" title="Limpieza y mantenimiento de espacios residenciales y comerciales." href="#">Servicio de Limpieza</a></li>
                                <li><a class="dropdown-item" title="Pintura de interiores y exteriores." href="#">Servicio de Pintura</a></li>
                                <li><a class="dropdown-item" title="Fabricación y reparación de muebles y estructuras de madera." href="#">Servicio de Carpintería</a></li>
                                <li><a class="dropdown-item" title="Construcción y reparación de estructuras de albañilería." href="#">Servicio de Albañilería</a></li>
                                <li><a class="dropdown-item" title="Apertura y reparación de cerraduras y sistemas de seguridad." href="#">Servicio de Cerrajería</a></li>
                                <li><a class="dropdown-item" title="Instalación y mantenimiento de sistemas de climatización." href="#">Servicio de Climatización</a></li>
                                <li><a class="dropdown-item" title="Reparación de electrodomésticos y equipos electrónicos." href="#">Servicio de Reparación de Electrodomésticos</a></li>
                                <li><a class="dropdown-item" title="Instalación de sistemas de seguridad y vigilancia." href="#">Servicio de Instalación de Sistemas de Seguridad</a></li>
                                <li><a class="dropdown-item" title="Transporte y logística de mudanzas residenciales y comerciales." href="#">Servicio de Mudanzas</a></li>
                                <li><a class="dropdown-item" title="Reparación y mantenimiento de vehículos automotores." href="#">Servicio de Reparación de Automóviles</a></li>
                                <li><a class="dropdown-item" title="Diseño de logotipos, folletos, carteles y material gráfico." href="#">Servicio de Diseño Gráfico</a></li>
                                <li><a class="dropdown-item" title="Desarrollo y programación de aplicaciones y sistemas informáticos." href="#">Servicio de Desarrollo de Software</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <button id="boton" class="btn btn-outline-success custom-button" type="submit">Login</button>
                    </form>
                    <div class="btn-group">
                        <button class="btn btn-primary" type="button">Registrate</button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/registrar">Usuario</a></li>
                            <li><a class="dropdown-item" href="#">Proveedor</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </nav>

        <!--SLIDER DE IMAGENES-->
        <div id="carouselExampleIndicators" class="carousel slide">
            <!-- Código del slider de imágenes -->
        </div>

        <!--INTRO-->
        <section class="w-50 mx-auto text-center pt-5" id="intro">
            <!-- Contenido visible de la sección "Somos la solución para tu hogar" -->
            <h1 style="font-size: 2.5rem; color: #333;">¡Bienvenido al Hogar de tus Sueños!</h1>
            <p style="font-size: 1.2rem; color: #666;">En nuestra empresa, te ofrecemos soluciones para transformar tu hogar en un lugar acogedor, funcional y lleno de vida. Nuestra especialidad es hacer realidad tus deseos y necesidades, proporcionándote servicios que marcarán la diferencia en tu vida cotidiana.</p>
            <img src="./img/nosotros 1.png" alt="Solución para tu hogar">
        </section>

        <!-- Sección Nosotros -->
        <section id="nosotros" style="background-color: #f7f7f7; padding: 4rem 0;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h2 class="mb-4">Nosotros</h2>
                        <p>Somos un grupo de compañeros desarrolladores altamente capacitados y entusiastas, egresados de Egg Cooperation, una prestigiosa institución de formación tecnológica. Nuestra pasión por la tecnología y el desarrollo de software nos ha unido en esta emocionante aventura.</p>
                        <p>En Egg Cooperation, hemos adquirido habilidades y conocimientos en diversas tecnologías y metodologías que nos permiten enfrentar desafíos y resolver problemas de manera creativa e innovadora.</p>
                        <p>Nuestro enfoque principal es brindar soluciones de software personalizadas y eficientes para cubrir las necesidades de nuestros clientes. Entendemos la importancia de cada proyecto y trabajamos con dedicación para garantizar resultados excepcionales.</p>
                        <p>La colaboración, la comunicación efectiva y el trabajo en equipo son pilares fundamentales en nuestro grupo. Nos apoyamos mutuamente y compartimos nuestros conocimientos para mejorar constantemente nuestras habilidades técnicas y nuestra capacidad para brindar un servicio excepcional.</p>
                        <p>Estamos comprometidos con la excelencia y la satisfacción del cliente. Nos enorgullecemos de entregar proyectos de alta calidad, dentro del plazo acordado y superando las expectativas.</p>
                        <p>Siempre estamos en busca de nuevos desafíos y oportunidades para crecer profesionalmente. Estamos dispuestos a enfrentar cualquier proyecto y convertirlo en un éxito.</p>
                        <p>¡Gracias por visitar nuestro sitio web! Esperamos tener la oportunidad de trabajar juntos y ser parte de su viaje hacia el éxito tecnológico.</p>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row justify-content-around">
                    <!-- Agrega aquí las imágenes para resaltar la sección "Nosotros" -->
                    <div class="col-md-3">
                        <img src="./img/equipo 1.png" alt="Equipo de Desarrolladores" style="width: 100%; border-radius: 50%;">
                    </div>
                    <div class="col-md-3">
                        <img src="./img/equipo 2.png" alt="Colaboración y Trabajo en Equipo" style="width: 100%; border-radius: 50%;">
                    </div>
                    <div class="col-md-3">
                        <img src="./img/equipo 3.png" alt="Clientes Satisfechos" style="width: 100%; border-radius: 50%;">
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="bg-dark text-light py-4">
            <div class="container">
                <div class="row">
                    <h3> Equipo de Desarrollo </h3>
                    <section class="py-5">
                        <div class="container">
                            <div class="row">
                                <!-- Frontend -->
                                <div class="col-md-6">
                                    <h4>Frontend</h4>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="https://github.com/renzobover" target="_blank">Renzo Bover</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/Gonza-S24" target="_blank">Gonzalo Friedrich</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/morsucci" target="_blank">Noelia Morsucci</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Backend -->
                                <div class="col-md-6">
                                    <h4>Backend</h4>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="https://github.com/camiastrada" target="_blank">Camila Astrada</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/facundodominguez30" target="_blank">Facundo Dominguez</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/GEORG-TH" target="_blank">Georg Thierry De La Cruz</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/HugoSotuyo" target="_blank">Hugo Daniel Sotuyo</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/JoelVillarroel" target="_blank">Joel Villarroel</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="col-md-6 footer-content">
                        <p>
                            &copy; 2023 Chacras Service. Todos los derechos reservados.
                        </p>
                        <p>
                            Esta aplicación es solo con fines demostrativos y no representa un producto real. Cualquier similitud con servicios existentes es pura coincidencia.
                        </p>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Incluye jQuery y otros scripts necesarios -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    </body>
</html>